<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/8000672/785866/css/fonts.css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <style>
            /** quick fix because bootstrap <pre> has a background-color. */
            pre code { background-color: inherit; }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            </a>
                            <a class="brand" href="{{ site.url }}/"><img src="/images/logo.png" alt="FoodCoop System"/></a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li><a href="{{ site.url }}/#about">Czym jest FCS?</a></li>
                                    <li><a href="{{ site.url }}/#how-it-works">Jak to działa?</a></li>
                                    <li><a href="{{ site.url }}/#help">Jak nam pomóc?</a></li>
<!--                                    <li><a href="{{ site.url }}/#news">Co nowego?</a></li>-->
                                    <li><a href="{{ site.url }}/#about-us">Nasz zespół</a></li>
                                </ul>
                                <ul class="social-icon">
                                    <li class="facebook"><a target="_blank" rel="nofolow"  href="https://www.facebook.com/foodcoopsystem">Facebook</a></li>
                                    <li class="twitter"><a target="_blank" rel="nofolow"  href="https://twitter.com/foodcoopsystem">Facebook</a></li>
                                    <li class="google"><a target="_blank" rel="nofolow"  href="https://plus.google.com/u/0/b/117350059508672336819/117350059508672336819/about">Google +</a></li>
                                </ul>
                                <ul class="lang">
                                    <li><a href="{{ site.url }}/#">ENG</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <h1 style="display: none;">FoodCoop System - System zamówień dla kooperatyw spożywczych i grup zakupowych.</h1>
                <!-- Jssor Slider Begin -->
                <!-- ================================================== -->
                <div id="slider1" style="display: none; position: relative; margin: 0 auto; width: 1140px;
                     height: 442px; overflow: hidden;">

                    <!-- Loading Screen -->
                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                             background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url(/imgages/loading.gif) no-repeat center center;

                             top: 0px; left: 0px;width: 100%;height:100%;">
                        </div>
                    </div>

                    <!-- Slides Container -->
                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
                         overflow: hidden;">
                        <div>
                            <span class="background-layer"></span>
                            <span class="logo-banner" ></span>
                            <h3 u="text" >Lokalne warzywa z ekologicznej produkcji w dobrej cenie.</h3>
                            <img u="image" src2="/images/banner1.jpg" />
                        </div>
                        <div>
                            <span class="background-layer"></span>
                            <h3 u="text" >Przyjazny system do wspomagania zamówień dla kooperatyw spożywczych i grup zakupowych.</h3>
                            <img u="image" src2="/images/banner2.jpg" />
                        </div>
                        <div>
                            <span class="background-layer"></span>
                            <span class="logo-banner" ></span>
                            <h3 u="text" >Budowanie demokratycznego społeczeństwa przez kolektywne działanie.</h3>
                            <img u="image" src2="/images/banner3.jpg" />
                        </div>
                         <div>
                             <span class="background-layer"></span>
                             <span class="logo-banner" ></span>
                             <h3 u="text" >Dostęp do produktów bezpośrednio od rolników i producentów.</h3>
                            <img u="image" src2="/images/banner4.jpg" />
                        </div>
                    </div>

                    <!-- bullet navigator container -->
                    <div u="navigator" class="jssorb05" >
                        <!-- bullet navigator item prototype -->
                        <div u="prototype" style="POSITION: absolute; WIDTH: 16px; HEIGHT: 16px;"></div>
                    </div>
                    <a class="go-to-github" href="https://github.com/FoodCoopSystem">Dołącz do nas na GitHUB</a>
                    <a class="read-more" href="#about">Dowiedz się więcej</a>
                    <a class="go-to-about" href="#about"></a>
                </div>

                <!-- Jssor Slider End -->
            </div>
            <div class="container">
                <div class="mainContent">
                    <div class="row-fluid">
                        <div class="span12">
                            <a name="about"></a>
                            <h2>Czym jest FoodCoop System?</h2>
<!--                            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}-->
                        </div>
                    </div>
                </div>
                <div class="push"></div>
            </div>
            <footer class="container">
                &copy; {{ "now"|date("Y") }} {{ site.title }}
                <ul class="sovial-icon">
                    <li class="facebook"><a target="_blank" rel="nofolow"  href="https://www.facebook.com/foodcoopsystem">Facebook</a></li>
                    <li class="twitter"><a target="_blank" rel="nofolow"  href="https://twitter.com/foodcoopsystem">Facebook</a></li>
                    <li class="google"><a target="_blank" rel="nofolow"  href="https://plus.google.com/u/0/b/117350059508672336819/117350059508672336819/about">Google +</a></li>
                </ul>
            </footer>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
            <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
            {% block scripts %}
            {% endblock %}

            {% if site.google_analytics_tracking_id %}

            <script type="text/javascript">
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
ga('send', 'pageview');
            </script>
            {% endif %}
            <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
            <script src="{{ site.url }}/js/slider/jssor.slider.mini.js"></script>
            <script src="{{ site.url }}/js/slider/slider.js"></script>
            <script src="{{ site.url }}/js/global.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
