/*Colors*/
@media (max-width: 767px) { /* line 10, ../sass/style.scss */
  .sidebar { padding-top: 30px; } }
@media (min-width: 980px) { /* line 15, ../sass/style.scss */
  body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ padding-bottom: 40px; } }
/* line 22, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, a { font-family: Gotham, Arial, sans-serif; }

/* line 27, ../sass/style.scss */
h4 small { display: block; font-size: 60%; color: #888; }

/* line 33, ../sass/style.scss */
footer.container, .container { width: 100%; }

/* line 38, ../sass/style.scss */
.mainContent { max-width: 960px; margin: 0 auto; }

/* line 43, ../sass/style.scss */
.mainContent .banner { width: 100%; }

/* line 47, ../sass/style.scss */
footer.container { margin-top: 30px; padding: 30px 0; border-top: 1px dashed #aaa; }

/*Header and navbar*/
/* line 55, ../sass/style.scss */
.navbar .container-fluid { padding: 0px; margin: 0px; }

/* line 60, ../sass/style.scss */
.navbar .brand { padding: 0px; margin: 0px; width: 90px; height: 90px; }

/* line 69, ../sass/style.scss */
.navbar-inverse .navbar-inner { background: #f5f5f5; height: 90px; border: none; }
/* line 75, ../sass/style.scss */
.navbar-inverse .navbar-inner .nav-collapse.collapse { float: right; max-width: 950px; }
/* line 80, ../sass/style.scss */
.navbar-inverse .navbar-inner .lang { float: right; width: 46px; list-style: none; margin: 0px; padding: 0px; position: relative; right: 14px; }
/* line 90, ../sass/style.scss */
.navbar-inverse .navbar-inner .lang > li > a { color: #ff7c18; }
/* line 95, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon { float: right; width: 120px; list-style: none; margin: 0px; padding: 16px 0px; }
/* line 104, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon > li { width: 40px; margin: 0px; padding: 0px; overflow: hidden; float: left; display: block; height: 44px; background: url("/images/social-icon.png") no-repeat scroll; }
/* line 115, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon > li.facebook { background-position: -91px -4px; }
/* line 119, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon > li.twitter { background-position: -1px -4px; }
/* line 123, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon > li.google { background-position: -45px -4px; }
/* line 127, ../sass/style.scss */
.navbar-inverse .navbar-inner .social-icon > li > a { width: 40px; height: 40px; margin: 0px; padding: 24px 11px; color: transparent; font-size: 3px; overflow: hidden; }
/* line 136, ../sass/style.scss */
.navbar-inverse .navbar-inner .btn-navbar { background: url(/image/menu.png); height: 88px; width: 88px; float: right; margin: 0px; padding: 0px; border: none; }
/* line 146, ../sass/style.scss */
.navbar-inverse .brand, .navbar-inverse .nav { margin: 0px; padding: 0px; }

/* line 153, ../sass/style.scss */
.lang > li, .social-icon > li, .navbar-inverse .nav > li { margin-top: 35px; }

/* line 158, ../sass/style.scss */
.lang > li > a, .social-icon > li > a, .navbar-inverse .nav > li > a { color: #473934; text-transform: uppercase; padding: 0 15px; font-weight: bold; }

/* line 167, ../sass/style.scss */
html, body { height: 100%; }

/* line 171, ../sass/style.scss */
.wrapper { min-height: 100%; height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */ height: 100%; margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */ }

/* line 178, ../sass/style.scss */
footer, .push { height: 232px; }

/* line 182, ../sass/style.scss */
footer { background: #393b3d; }

/*SLIDER front*/
/* line 188, ../sass/style.scss */
.jssorb05 { position: absolute; bottom: 85px; right: 6px; }

/*Banner slides*/
/* line 200, ../sass/style.scss */
#slider1 .background-layer { left: 0; position: absolute; text-align: center; width: 100%; height: 100%; z-index: 10000; background-color: rgba(0, 0, 0, 0.5); }
/* line 210, ../sass/style.scss */
#slider1 h3 { color: #f7f5f1; left: 13%; font-size: 21px; margin: 0 auto; position: absolute; text-align: center; top: 60%; width: 60%; z-index: 10000; }

/* <!-- Bullet Navigator Skin Begin -->*/
/* jssor slider bullet navigator skin b21 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
/* line 234, ../sass/style.scss */
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av { background: url(/images/b21.png) no-repeat; overflow: hidden; cursor: pointer; }

/* line 240, ../sass/style.scss */
.jssorb05 div { background-position: -7px -7px; }

/* line 244, ../sass/style.scss */
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }

/* line 248, ../sass/style.scss */
.jssorb05 .av { background-position: -67px -7px; }

/* line 252, ../sass/style.scss */
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/*<!-- Bullet Navigator Skin End -->
<!-- Arrow Navigator Skin Begin -->*/
/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l              (normal)
.jssora11r              (normal)
.jssora11l:hover        (normal mouseover)
.jssora11r:hover        (normal mouseover)
.jssora11ldn            (mousedown)
.jssora11rdn            (mousedown)
*/
/* line 267, ../sass/style.scss */
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn { position: absolute; cursor: pointer; display: block; background: url(/images/a21.png) no-repeat; overflow: hidden; }

/* line 275, ../sass/style.scss */
.jssora11l { background-position: -11px -41px; }

/* line 279, ../sass/style.scss */
.jssora11r { background-position: -71px -41px; }

/* line 283, ../sass/style.scss */
.jssora11l:hover { background-position: -131px -41px; }

/* line 287, ../sass/style.scss */
.jssora11r:hover { background-position: -191px -41px; }

/* line 291, ../sass/style.scss */
.jssora11ldn { background-position: -251px -41px; }

/* line 295, ../sass/style.scss */
.jssora11rdn { background-position: -311px -41px; }
