/*COLORS*/
$background: white;
$bg-grey: #f5f5f5;
$banner-text: #f7f5f1;
$banner-button: #86b44f;
$text: #393b3d;
$about-sys-bg: #f3f3f3;
$footer-bg: #393b3d;
$people-image-height: 354px;
$people-image-width: 307px;
$gray-on-green: #006224;
$join-bg: #00c443;

/*MEDIA QUERY*/
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
    .mainContent {
        max-width: 767px;
    }
    .navbar-inverse .navbar-inner .social-icon {
        display: none;
    }

    .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
        margin: 0 0 27px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 980px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .mainContent {
        max-width: 980px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mainContent {
        max-width: 1280px;
    }


}

/*FONTS*/
@font-face {
    font-family: 'league_gothic_extended_italRg';
    src: url('/fonts/league_ghotic_extended-webfont-webfont.eot');
    src: url('/fonts/league_ghotic_extended-webfont-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/league_ghotic_extended-webfont-webfont.woff2') format('woff2'),
        url('/fonts/league_ghotic_extended-webfont-webfont.woff') format('woff'),
        url('/fonts/league_ghotic_extended-webfont-webfont.ttf') format('truetype'),
        url('/fonts/league_ghotic_extended-webfont-webfont.svg#league_gothic_extended_italRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothic_extendedregular';
    src: url('/fonts/league_ghotic_extended-webfont.eot');
    src: url('/fonts/league_ghotic_extended-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/league_ghotic_extended-webfont.woff2') format('woff2'),
        url('/fonts/league_ghotic_extended-webfont.woff') format('woff'),
        url('/fonts/league_ghotic_extended-webfont.ttf') format('truetype'),
        url('/fonts/league_ghotic_extended-webfont.svg#league_gothic_extendedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*GENERAL STYLES*/
body {
    background: $background;
}

body, h4, h5, h6, p, a {
    font-family:  'Gotham A', 'Gotham B';
    color: $text;
}

h1, h2, h3 {
    font-family:  'league_gothic_extendedregular';
    color: $text;
    font-weight: normal;
}

h4 {
    font-size: 17px;
}

a, a:hover, a:focus {
    outline: none;
}

a:hover {
    color: black;
}

h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.mainContent {
    margin: 0 auto;

    h2 {
        text-align: center;
        margin: 0 auto;
        padding-top: 87px;
        text-transform: uppercase;
        font-size: 61px;
    }

    .row-fluid { 

        .subtext {
            font-size: 19px;
            margin: 0 auto;
            padding: 30px 0;
            text-align: center;
            width: 100%;
        }

        .col1, .col2, .col3 {
            padding: 120px 20px 20px;
            background: url("/images/about-bg-0.png") no-repeat top center;
            margin: 80px 0;
            text-align: center;
            text-justify: inter-word;
        }

        .col2 {
            background: url("/images/about-bg-1.png") no-repeat top center;
        }

        .col3 {
            background: url("/images/about-bg-2.png") no-repeat top center;
        }

        .col1.help {
            background: url("/images/help-bg-1.png") no-repeat top center;
        }

        .col2.help {
            background: url("/images/help-bg-2.png") no-repeat top center;
        }

        .col3.help {
            background: url("/images/help-bg-3.png") no-repeat top center;
        }


    }
}

/*Header and navbar*/
.navbar .container-fluid {
    padding: 0px;
    margin: 0px;
}

.navbar .brand {
    padding: 0px;
    margin: 0px;
    width: 90px;
    height: 90px;
}

.navbar-inverse {
    .navbar-inner {
        background: #f5f5f5;
        height: 90px;
        border: none;


        .nav-collapse.collapse {
            float: right;
            max-width: 950px;
        }

        .lang {
            float: right;
            width: 46px;
            list-style: none;
            margin: 0px;
            padding: 0px;  
            position: relative;
            right: 14px;
        }

        .lang > li > a {
            color: #ff7c18;
        }


        .social-icon {
            float: right;
            width: 120px;
            list-style: none;
            margin: 0px;
            padding: 16px 0px;

        }

        .social-icon > li {
            width: 40px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            float: left;
            display: block;
            height: 44px;
            background: url("/images/social-icon.png") no-repeat scroll;
        }

        .social-icon > li.facebook {
            background-position: -91px -4px;
        }

        .social-icon > li.twitter {
            background-position: -1px -4px;
        }

        .social-icon > li.google {
            background-position: -45px -4px;
        }

        .social-icon > li > a {
            width: 40px;
            height: 40px;
            margin: 0px;
            padding: 24px 11px;
            color: transparent;
            font-size: 3px;
            overflow: hidden;
        }
        .btn-navbar {
            background: url(/images/menu.png);
            height: 88px;
            width: 88px;
            float: right;
            margin: 0px;
            padding: 0px;
            border: none;
        }
    }
    .brand,
    .nav {
        margin: 0px;
        padding: 0px;
    }
}

.lang > li,
.social-icon > li,
.navbar-inverse .nav > li {
    margin-top: 35px;
}
.lang > li > a,
.social-icon > li > a,
.navbar-inverse .nav > li > a {
    color: #473934;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: bold;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    height: 232px;
}

footer{
    background: $footer-bg;
}


/*SLIDER front*/
.jssorb05 {
    position: absolute; 
    bottom: 85px; 
    right: 6px;   
}

/*Banner slides*/
#slider1 {
    .logo-banner {
        left: 42%;
        background: url(/images/logo-baner.png) top center no-repeat;
        background-size: 205px 205px;
        position: absolute;
        text-align: center;
        top: 13%;
        width: 205px;
        height: 205px;
        z-index: 10000;
    }

    .background-layer {
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: 5000;
        background-color:rgba(0,0,0,0.5);
    }

    h3 {
        color: $banner-text;
        left: 16%;
        font-size: 40px;
        font-weight: normal;
        position: absolute;
        text-align: center;
        top: 52%;
        width: 69%;
        z-index: 10000;
    }

    .go-to-github,
    .read-more {
        position: absolute;
        width: 196px;
        height: 44px;
        top: 71%;
        z-index: 10000;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 8px;
        color:  transparent;

        &:hover {
            outline: none;
            text-decoration: none;
        }
    }

    .go-to-github {
        left: 35%; 
        background: url(/images/banner-button1.png) top center no-repeat;
        background-size: 196px 44px;

    }

    .read-more {
        left: 50%;
        background: url(/images/banner-button2.png) top center no-repeat;
        background-size: 196px 44px;
    }


    .go-to-about {
        left: 49.5%;
        background: url(/images/down.png) top center no-repeat;
        background-size: 15px 10px;
        text-align: center;
        position: absolute;
        width: 15px;
        height: 10px;
        top: 95%;
        z-index: 10000;         

        &:hover {
            background: url(/images/down.png) top center no-repeat;
            background-size: 15px 10px;
            outline: none;
        }

    }
}


#slider2 {
    background: $about-sys-bg;

    .data {
        float: right;
        position: relative;

        img {
            height: 60px;
            left: 10%;
            margin-top: 40px;
            position: relative;
            width: 70px;
            z-index: 11111;

        }
        
        h2{
            position: relative;
            z-index: 11111;
            left: 10%;
            font-size: 43px;
            max-width: 50%;
            margin: 30px 0;
        }

        h4 {
            left: 10%;
            position: relative;
            z-index: 11111;
            font-size: 15px;
        }
        
        h5 {
            left: 10%;
            position: relative;
            z-index: 11111;
            font-size: 12px;
        }
        
        > ul {
            width: 100%;
            left: 10%;
            position: relative;
            z-index: 11111;
            marigin: 0px;
            padding: 0px;
            
            li {
                font-size: 11px;
                list-style-image: url('/images/check_icon.png');
                
                ul {
                    position: relative;
                    margin-bottom: 20px;
                }
                
            }
        }
    }

    .half {
        display: inline;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 50%;
    }

}



/*SLIDERS*/
/* <!-- Bullet Navigator Skin Begin -->*/
/* jssor slider bullet navigator skin b21 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05  {
    position: absolute;
    top: 85%;
    left: 48%;

}

.jssorb21 {
    left: 56%;
    position: absolute;
    top: 89%;
}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av,
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    background: url(/images/slider_dots.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
    width: 15px !important;

}

.jssorb21 div,
.jssorb05 div {
    background-position: 1px 0;
}

.jssorb21 div:hover, .jssorb21 .av:hover,
.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -15px 0;
}

.jssorb21 .av,
.jssorb05 .av {
    background-position: -15px 0;
}


.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -15px 0;
}

/*<!-- Arrow Navigator Skin Begin -->*/

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l              (normal)
.jssora21r              (normal)
.jssora21l:hover        (normal mouseover)
.jssora21r:hover        (normal mouseover)
.jssora21ldn            (mousedown)
.jssora21rdn            (mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(/images/prev_arrow.png) center center no-repeat;
    overflow: hidden;
    width: 79px;
    height: 79px;
}

.jssora21r, .jssora21rdn {
    background: url(/images/next_arrow.png) center center no-repeat;
}
.jssora21r,
.jssora21l {
    background-position: 0px -79px;
}

.jssora21rdn, 
.jssora21ldn,
.jssora21r:hover,
.jssora21l:hover {
    background-position: 0px 0px;
}


/*News CSS*/
.news {
    background:  url(/images/bg.jpg) top center repeat;
    color: $banner-text;

    .background-layer {
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 276px;
        z-index: 500;
        background-color:rgba(0,0,0,0.5);
    }
    .mainContent {
        z-index: 501;
        position: relative;
        
        h2 {
            color: $banner-text;
        }

        .subtext {
            font-size: 21px;
            padding: 30px 0 100px;
            width: 100%;
        }
    }


}

/*TEAM*/

.team-wrapper, .team, .team-list  {
    background: $bg-grey;
}

.people {
    margin-bottom: 40px;
    height: $people-image-height;
    width: $people-image-width;
    background: $background;

    .dziubek {
        background: url("/images/dziubek.png") no-repeat center top;
        width: 15px;
        height: 7px;
        display: block;
    }

    &.piotrek {
        background: url("/images/people/piotrek.jpg") no-repeat top left white;
    }

    &.marzena {
        background: url("/images/people/marzena.jpg") no-repeat top left white;
    }

    &.karol {
        background: url("/images/people/karol.jpg") no-repeat top left white;
    }

    &.jarek {
        background: url("/images/people/jarek.jpg") no-repeat top left white;
    }

    &.tomek {
        background: url("/images/people/tomek.jpg") no-repeat top left white;
    }

    .text {
        background: white;
        cursor: pointer;
        display: block;
        font-size: 12px;
        line-height: 18px;
        height: 311px;
        padding: 7px 15px;
        position: relative;
        top: 30px;

        .dziubek {
            left: 21px;
            position: relative;
            top: -14px;
        }

    }
    .image {
        overflow: hidden;

        img {
            width: 307px;
            max-width: 307px;
        }

        h4 {
            padding: 7px 15px 15px 15px;
        }

        .dziubek {
            left: 64px;
            position: relative;
            top: -7px;    }
    }


}

.team-list {
    margin-top: 50px;
}

#join-us {
    background: $join-bg url(/images/join-bg.png) center 29px no-repeat;
    height: $people-image-height;
    width: $people-image-width;
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 210px;
        margin-bottom: 40px;

        .button {
            border: solid $gray-on-green 2px;
            font-size: 18px;

            padding: 15px 40px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
        
        &:hover {
            border: solid $gray-on-green 2px;
            color: $join-bg;
            background: $gray-on-green;
        }
        }
    }

    .text {
        text-align: center;
    }
    p {
        padding: 0 20px;
    }
}

/*FOOTER*/
footer.container,
.container {
    width: 100%;
}

footer.container {
    padding: 30px 0;
    border-top: 1px dashed #aaa;
    color: $banner-text;

    .copy {
        padding-top: 232px;
        float: left;
    }

    aside {
        float: right;
        margin: 50px 0 0 0;

        h2 {
            color: $banner-text;
            font-size: 60px;
            line-height: 30px;
            margin: 40px 0;
            text-transform: uppercase;
        }
        ul.sovial-icon {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                height: 100px;
                padding: 0 4px;
                background: url(/images/social-icon-footer.png) center top no-repeat;  
                a {
                    color: transparent;
                    padding: 10px 10px 80px;
                }
            }
            .facebook {
                background-position: -177px 0;
            }
            .twitter {
                background-position: -8px 0;
            }
            .google {
                background-position: -97px 0;
            }
        }

    }
}
